  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    block-size: 100%;
  }

  .page {
    display: flex;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
    padding: 133px 30px;
  }

  .result__video-container,
  .content__list-container {
    position: relative;
  }

  .content {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 711px 399px;
    grid-template-rows: auto auto;
    align-items: end;
    grid-template-areas: 
    "result__video-container content__details"
    "search-form search-form content__details";
    width: 1140px;
    gap: 40px;
  }

  .content__details {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
    height: 534px;
  }

  .title {
    font-family: 'Oswald';
    color: rgba(255, 255, 255, 1);
    font-size: 75px;
    font-weight: 700;
    line-height: 94%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }

  .result__video-container {
    padding-top: 78px;
    object-fit: contain;
  }

  .result__video {
    width: 100%;
    height: 100%;
  }

  .content__list {
    width: 100%;
  }

  .content__list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
  }

  .content__list-item {
    padding: 0 3px;
  }

  .content__list-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .content__card-link_current {
    display: block; 
    background-color: #524c4c;
  }

  .content__card-link:hover .content__video-card-title {
    text-decoration: underline;
  }

  .content__card-link:focus {
    outline: none;
  }

  .content__card-link:focus-visible {
    outline: 1px solid white;
    outline-offset: 1px;
  }

  .content__video-card {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    align-items: start;
  }

  .content__video-card-description-container {
    flex-grow: 1;
  }

  .content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: right;
  }

  .content__accent {
    color: rgba(84, 80, 80, 1);
  }

  .search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    padding-top: 16px;
  }

  .search-form__fieldset {
    flex: 1;
    width: 225px;
  }

  .search-form__textfield {
    background-color: transparent;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-overflow: ellipsis; 
    color: rgba(255, 255, 255, 0.7);
  }

  .search-form__fieldset-title {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  .content__video-card-title {
    color: rgba(255, 255, 255, 1);
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis; 
  }

  .content__video-card-description {
    line-height: 16.2px;
    line-clamp: 1;
  }

  .content__card-link {
    text-decoration: 0;
    color: white;
    overflow: hidden;
    cursor: pointer;
  }

  .search-form__label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
    appearance: none;
  }

  .button {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
  }

  .search-form__submit-button {
    padding: 6px 73.5px;
    align-self: flex-end;
  }

  .button {
    outline: none;
  }

  .more-button {
    padding: 6px 0;
  }

  .button:hover {
     text-decoration: underline;
  }

  .button:active {
     background: #545050;
  }

  .button:focus-visible {
     outline: 1px solid white;
  }

  .search-form__checkbox-list {
    display: flex;
    gap: 15px;
  }

  .search-form__pseudo-checkbox {
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid white;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
  }

  .search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: "";
    position: absolute;
    inset: 1px;
    background: white;
  }

  .search-form__textfield:focus,
  .search-form__checkbox:focus {
    outline: none;
  }

  .search-form__label:has(:focus-visible) {
    outline: 1px solid white;
    outline-offset: 2px;
  }
  
  .search-form__label:hover .search-form__label-text {
    text-decoration: underline;
  }

  .visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  ol,
  li,
  blockquote,
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  ul,
  ol {
    list-style: none;
  }

  /* Кастомный скроллбар */
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
  }
